@import './../../../assets/scss/main.scss';

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .input {
    width: 1rem;
    height: 1rem;
    background-color: color(gray-900);
    border: 1px solid color(gray-300);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .input-label {
    margin-left: 0.5rem;
    @include font-size-xs;
    cursor: pointer;
    @include font-size-xs;
    color: color(gray-900);
  }

  &.blue {
    .input-label {
      color: color(blue-600);
    }
  }
}
