<div class="page">
    <h2 class="title">Log In</h2>
    <div class="container credentials">
        <div class="container inputs">
            <div class="input">
                <app-input [type]="'email'" [placeholder]="'E-mail'"></app-input>
            </div>
            <div class="input">
                <app-input [type]="'password'" [placeholder]="'Password'"></app-input>
            </div>
        </div>
        <div class="container links">
            <app-checkbox [text]="'Remember Me?'"></app-checkbox>
            <a [routerLink]="'/login/new-account'" class="forget-password">Forget password?</a>
        </div>
    </div>
    <div class="container login">
        <app-button [text]="'Log In with your account'"></app-button>
    </div>
    <div class="container">
        <label>Log In with</label>
        <div>
            <input type="button" value="Facebook">
            <input type="button" value="Google">
        </div>
    </div>
    <div class="container">
        <div>
            <span>New user?</span>
            <span>Create account</span>
        </div>
    </div>
</div>