<!-- <div class="input">
    <input type="text" name="text" spellcheck="false" required>
    <span class="placeholder"></span>
</div> -->

<div class="input-box" [ngClass]="{'error': listErrors.length > 0 && control.invalid}">
    <input [formControl]="control" class="input" [type]="type" [name]="type" [ngClass]="{'hasvalue': control.value}" />
    <span class="input-label">{{placeholder}}</span>
    <i *ngIf="cssIcon" class="input-icon fa-solid" [ngClass]="[cssIcon]"></i>
    <div class="list-errors">
        <span *ngFor="let item of listErrors" class="error-message">{{item}}</span>
    </div>
</div>