@import './../assets/scss/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;

  .container-mobile {
    width: 380px;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;

    .content-mobile {
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;
      overflow-x: hidden;

      
    }
  }
}
