@import './../assets/scss/main.scss';

.container-mobile {
  width: 380px;
  margin: 20px auto;
  border: 1px solid black;
  height: 750px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}


